<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css"> <! temp css !>
    <title>Recipe</title>
</head>
<body>
    <div class="header">
        <header>
            <h1 id="banner_text">Website name</h1>
            <img id=banner src="/static/images/stock_banner_image.jpg" alt="Stock banner image">
        </header>
    </div>
    {% include "navbar.html" %}
    <div class="main">
        <h1> {{ recipe.name }}</h1>
        <div class="recipe-info">
            <div class="recipe-description">
                <h2>Description</h2>
                <p> {{ recipe.description }} </p>
                <img src="{{ recipe.img_url }}" alt="recipe photo">
            </div>
            <div class="recipe-ingrediants">
                <h2>Ingrediants</h2>
                <ul>
                    {% for item in recipe.ingredients %}
                    <li> {{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="recipe-instructions">
                <h2>Instructions</h2>
                <ol>
                    {% for step in recipe.instructions %}
                        <li>{{ step }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>Insert navigation shortcuts & contact information</p>
        </footer>
    </div>
</body>
</html>

